---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Tentang Kami </Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-2xl text-gray-800">
        Perubahan Masa Depan: Merevolusi Pemantauan Lingkungan.
      </h2>
      <p class="text-lg leading-relaxed text-justify text-slate-500">
        Di era di mana kesehatan planet kita lebih penting dari sebelumnya, inovasi teknologi berada di garis depan pelestarian lingkungan. sebuah inisiatif inovatif yang dirancang untuk memanfaatkan kekuatan Internet of Things (IoT) untuk memantau, melindungi, dan melestarikan alam kita. Misi kami adalah menyediakan solusi cerdas untuk pemantauan lingkungan secara real-time dan memastikan masa depan yang lebih aman dan lebih cerah bagi semua. </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-3">
      <h2 class="font-bold text-2xl text-gray-800">
       Komitmen Kami terhadap Keberlanjutan.
      </h2>
      <p class="text-lg leading-relaxed text-justify text-slate-500">Kami berkomitmen pada keberlanjutan di setiap level operasi kami. Perangkat kami dirancang agar hemat energi dan ramah lingkungan, memanfaatkan sumber energi terbarukan bila memungkinkan. Selain itu, kami memprioritaskan penggunaan bahan yang dapat didaur ulang pada perangkat keras kami untuk meminimalkan limbah dan mengurangi jejak karbon kami.</p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-3">
      <h2 class="font-bold text-2xl text-gray-800">
      Kolaborasi untuk Masa Depan yang Lebih Baik.
      </h2>
      <p class="text-lg leading-relaxed text-justify text-slate-500">Kami percaya bahwa kekuatan IoT dapat terwujud sepenuhnya hanya melalui kolaborasi. Dengan bermitra dengan kami, Anda memperoleh akses ke teknologi dan keahlian mutakhir yang dapat meningkatkan inisiatif lingkungan Anda. Bersama-sama, kita dapat mengembangkan solusi khusus yang dirancang untuk mengatasi tantangan lingkungan tertentu, memastikan bahwa sumber daya alam planet kita dilestarikan untuk generasi mendatang.</p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-3">
      <h2 class="font-bold text-2xl text-gray-800">
        Bergabunglah dengan Revolusi.
      </h2>
      <p class="text-lg leading-relaxed text-justify text-slate-500">
       Masa depan bergantung pada pilihan yang kita buat hari ini. memanfaatkan peluang untuk kemajuan teknologi terkini demi kebaikan bersama. Dengan bergabung bersama kami, Anda menjadi bagian dari gerakan revolusioner yang mengubah pemantauan dan perlindungan lingkungan.

Bersama-sama, kita dapat menciptakan masa depan yang berkelanjutan di mana teknologi dan alam hidup berdampingan secara harmonis. Mari kita membangun dunia di mana setiap hembusan udara, setiap tetes air, dan setiap inci tanah dipantau dan dilindungi. 
      </p>
    </div>
    
  </Container>
</Layout>
