---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-24 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-5xl tracking-tight">
    Mari Berkolaborasi Dengan Kami.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Punya sesuatu yang besar tentang proyek Iot? Mari kembangkan bersama kami.
  </p>
  <div class="flex mt-5">
    <Link href="mailto:Iot4Environment@gmail.com" style="inverted">Hubungi Kami!</Link>
  </div>
</div>
