<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Iot4Environment. 
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://sealling.iot4environment.com/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Sealling
    </a>
  </p>
</footer>
