---
// @ts-ignore
import { Picture } from "astro:assets";
import Sealling from "../assets/1.png";
---

<div class="my-6 lg:mt-2">
  <h2 class="text-center text-lg mb-12 text-slate-500">Kolaborasi bersama</h2>
  <div class="flex   md:gap-10 items-center justify-center  flex-wrap">

    <p class="text-3xl"
          ><span class="font-bold text-slate-800">Iot4</span><span
            class="text-slate-500">Environment</span
          >
    </p>

    <Picture
      src= {Sealling}
      alt="Iot4Environment"
      width={[200]}
      size="620px"
      loading="eager"
      format="avif"
    />
  </div>
</div>
